<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/footer.css" type="text/css">
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
<div class="mister_separator"></div>
<footer id="footer-3-cols" class="site-footer">
    <div id="footer-container">
        <div id="footer-grid">
            <div id="left-footer-section" class="footer-section">

                    <div id="footer-search">
                        <form action="">
                            <input type="search" placeholder="Web design"><button type="submit">Search</button>
                        </form>
                    </div>
                <div class="footer-information">
                    <div class="footer-information">
                    <p><img src="https://img.icons8.com/ios-filled/12/999999/marker.png">Av. Prof. José Bolfarini, 435 - Jardim Morumbi, Assis/SP</p>
                    <p><img src="https://img.icons8.com/ios-filled/12/999999/phone.png">(18) 99811-4756</p>
                    <p><img src="https://img.icons8.com/ios-filled/12/999999/mail.png">contato@verkom.com.br</p>
                    <p><img src="https://img.icons8.com/ios-filled/12/999999/clock.png">08:00 – 18:00 </p>
                </div>
                </div>
            </div>
            <div id="second-footer-section" class="footer-section">
                <div class="footer-links">
                    <h3>Categories</h3>
                    <ul>
                        <li role="menuitem"><a href="/pages/maintenance.html">Velocidade de Atendimento</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Consultoria Especializada</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Segurança da Informação</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Cloud & Infraestrutura</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Conectividade</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Backup em Nuvem</a></li>
                    </ul>
                </div>
            </div>
            <div id="right-footer-section" class="footer-section">
                <div class="footer-links">
                    <h3>Information</h3>
                    <ul>
                        <li role="menuitem"><a href="https://www.verkom.com.br">Home</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Sobre Nós</a></li>
                        <li role="menuitem"><a href="/pages/contact.html"">Contato</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Termos de Uso<br>& Informações Legais</a></li>
                        <li role="menuitem"><a href="/pages/maintenance.html"">Dê um Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="copyright-information">
            <div id="footer-logo-section">
                <div id="footer-logo">
                    <img src="https://ftp.verkom.com.br/logos/AF_verkom_07.png" alt="">
                </div></div>
            <div id="copyright-text">
            &copy; Verkom 2024. All rights reserved. 
            </div>
            <div id="social-buttons">
                <img src="https://img.icons8.com/ios-filled/25/999999/whatsapp--v1.png"/>
                <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png"/>
                <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png"/>
                <img src="https://img.icons8.com/ios-filled/25/999999/linkedin--v1.png"/>
            </div>
        </div>
    </div>
</footer>
</body>
</html>