<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css">
    <script type="text/javascript" src="/assets/js/header.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <title>Header</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="navbar container">
          <div class="navbar-inner">
            <a href="index.html" class="brand"><img src="/assets/img/logo-verkom2.png" class="brand-img"></a>
            <div class="burger" id="burger">
              <span class="burger-line"></span>
              <span class="burger-line"></span>
              <span class="burger-line"></span>
            </div>
          </div>
          <div class="navbar-block" id="menu">
            <ul class="menu">
              <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
              <li class="menu-item dropdown">
                <span class="dropdown-toggle menu-link">
                  Soluções <i class="bx bx-chevron-down"></i>
                </span>
                <div class="dropdown-content">
                  <div class="dropdown-column">
                    <div class="dropdown-group">
                      <div class="dropdown-block">
                        <span class="dropdown-icon"><i class="bx bx-rocket"></i></span>
                        <div class="dropdown-inner">
                          <a href="#" class="text-base font-medium">Velocidade de Atendimento</a>
                          <p class="text-base font-normal">
                            SLA Agressivo com início de atendimento veloz.
                          </p>
                        </div>
                      </div>
                      <div class="dropdown-block">
                        <span class="dropdown-icon"><i class="bx bx-trending-up"></i></span>
                        <div class="dropdown-inner">
                          <a href="#" class="text-base font-medium">Consultoria Especializada</a>
                          <p class="text-base font-normal">
                            Assessment completo de levantamento e análise de riscos e requisitos.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-group">
                      <div class="dropdown-block">
                        <span class="dropdown-icon"><i class="bx bx-lock"></i></span>
                        <div class="dropdown-inner">
                          <a href="#" class="text-base font-medium">Segurança da Informação</a>
                          <p class="text-base font-normal">
                            Tecnologia de ponta sem custo de aquisição. Firewalls em comodato de forma acessível.
                          </p>
                        </div>
                      </div>
                      <div class="dropdown-block">
                        <span class="dropdown-icon"><i class="bx bx-cloud"></i></span>
                        <div class="dropdown-inner">
                          <a href="#" class="text-base font-medium">Cloud & Infraestrutura</a>
                          <p class="text-base font-normal">
                            Cloud Híbrida e Privada resiliente através de SD-WAN.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-group">
                      <div class="dropdown-block">
                        <span class="dropdown-icon"><i class="bx bx-rss"></i></span>
                        <div class="dropdown-inner">
                          <a href="#" class="text-base font-medium">Conectividade</a>
                          <p class="text-base font-normal">
                            Outsourcing de rede, interligação de unidades com alta disponibilidade, fibra óptica com os principais datacenters do Brasil.
                          </p>
                        </div>
                      </div>
                      <div class="dropdown-block">
                        <span class="dropdown-icon"><i class="bx bx-transfer"></i></span>
                        <div class="dropdown-inner">
                          <a href="#" class="text-base font-medium">Backup em Nuvem</a>
                          <p class="text-base font-normal">
                            Replicação de múltiplas cópias, múltiplos destinos com múltiplas tecnologias. Eficaz contra ransomwares.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item"><a href="/pages/maintenance.html" class="menu-link">Sobre Nós</a></li>
              <li class="menu-item"><a href="/pages/maintenance.html" class="menu-link">Cases</a></li>
              <li class="menu-item"><a href="/pages/maintenance.html" class="menu-link">Novidades</a></li>
              <li class="menu-item"><a href="/pages/contact.html" class="menu-link">Contato</a></li>
            </ul>
          </div>
        </nav>
      </header>
</body>
</html>